:root {
  --ion-color-primary: #ff620a;
  --ion-color-primary-rgb: 255, 98, 10;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #e65809;
  --ion-color-primary-tint: #ff7223;

  --ion-color-secondary: #7f8da6;
  --ion-color-secondary-rgb: 127, 141, 166;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #707c92;
  --ion-color-secondary-tint: #8c98af;

  --ion-color-light: #f6f3ef;
  --ion-font-family: "Segoe UI", "Helvetica Neue", sans-serif;
}
